<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ParkView - Gestão de Estacionamento</title>
    <link rel="stylesheet" href="static\css\index.css">
</head>
<body>
    <header>
        <img src="static\images\LogoEXCELENTE.png" alt="Logo ParkView" style="width: 370px;">
    </header>
    <main>
        <section>
            <h2>Gestão de clientes</h2>
            <div class="features">
                <div class="feature">
                    <h3>Cadastrar novo Cliente</h3>
                    <p>Registre um novo cliente mensal, com cpf e carro atrelado à ele de modo rápido e seguro.</p>
                    <a href="/novo-mensalista">Acessar &rarr;</a>
                </div>
                <div class="feature">
                    <h3>Analisar Mensalistas</h3>
                    <p>Veja ou remova um cliente pelo cpf da lista de clientes mensais</p>
                    <a href="/remover-mensalista">Acessar &rarr;</a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>